<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content" *ngIf="!showPageLoader">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>{{"PROVIDERS_PROFILE.Position"|translate}} #{{this.positionId}}</h5>
                    <p>{{"PROVIDERS_PROFILE.Information about the position"|translate}}</p>
                </div>
            </div>
            <div class="info-section sibling-pb-0 d-flex justify-space-between">
                <div class="info-section-left">
                    <div class="d-flex justify-space-between w-100 flex-wrap flex-sm-nowrap">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Common Information"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Common position's information"|translate}}</p>
                        </div>
                        <div class="info-section-left-items">
                            <div class="info-section-left-items-card">
                                <mat-card appearance="outlined">
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>
                                            @if(this.isProvider) {
                                                {{"PROVIDERS_PROFILE.Position" | translate}}
                                            } @else {
                                                {{"PROVIDERS_PROFILE.MetaTrader position ID" | translate}}
                                            }
                                        </h6>
                                        <p>
                                            <span>{{positionData.position}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center" *ngIf="isFollower">
                                        <h6>{{"PROVIDERS_PROFILE.State"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.state}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center" *ngIf="isFollower">
                                        <h6>{{"COMMON.Status"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.status}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Untrack status"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.untrackStatus}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center" *ngIf="isProvider">
                                        <h6>{{"PROVIDERS_PROFILE.Symbol"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.symbol}}</span>
                                        </p>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100 flex-wrap flex-sm-nowrap">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Opening Data"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Position's opening data"|translate}}</p>
                        </div>
                        <div class="info-section-left-items">
                            <div class="info-section-left-items-card">
                                <mat-card appearance="outlined">
                                    <div class="d-flex justify-space-between align-center" *ngIf="isFollower">
                                        <h6>{{"PROVIDERS_PROFILE.Symbol"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.symbol}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Direction"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.currentDirection}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Open volume"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.openVolume}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Open price"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.openPrice | currency:'USD':'':''}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Open time"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.openTime | date:'M/d/yy, h:mm:ss a'}}</span>
                                        </p>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100 flex-wrap flex-sm-nowrap">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Close Data"|translate}}</h4>
                            <p>
                                @if(this.isProvider) {
                                    {{"PROVIDERS_PROFILE.Provider position's close data"|translate}}
                                } @else {
                                    {{"PROVIDERS_PROFILE.Follower position's close data"|translate}}
                                }
                            </p>
                        </div>
                        <div class="info-section-left-items">
                            <div class="info-section-left-items-card">
                                <mat-card appearance="outlined">
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Close price"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.closePrice | currency:'USD':'':''}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Close time"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.closeTime | date:'M/d/yy, h:mm:ss a'}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Take Profit"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.takeProfit}}</span>
                                        </p>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100 flex-wrap flex-sm-nowrap">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Trading Result"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Position's trading result"|translate}}</p>
                        </div>
                        <div class="info-section-left-items">
                            <div class="info-section-left-items-card">
                                <mat-card appearance="outlined">
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Trading Profit"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.totalProfit | currency: 'USD':'symbol'}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.MetaTrader commission"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.commission | currency: 'USD':'symbol'}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Swaps"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.swaps | currency: 'USD':'symbol'}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Taxes"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.taxes | currency: 'USD':'symbol'}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Profit"|translate}}</h6>
                                        <p>
                                            <span>{{positionData.profit | currency: 'USD':'symbol'}}</span>
                                        </p>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100 flex-wrap flex-sm-nowrap" *ngIf="isProvider">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Copy data"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Position's copy data"|translate}}</p>
                        </div>
                        <div class="info-section-left-items">
                            <div class="info-section-left-items-card">
                                <mat-card appearance="outlined">
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Copied volume"|translate}}</h6>
                                        <p>
                                            <span>{{positionStatsData.copiedVolume}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Copied count"|translate}}</h6>
                                        <p>
                                            <span>{{positionStatsData.copiedCount}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-space-between align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Closed count"|translate}}</h6>
                                        <p>
                                            <span>{{positionStatsData.closedCount}}</span>
                                        </p>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-section-right">
                    <div class="info-section-right-header">
                        <h4>{{"PROVIDERS_PROFILE.Personal Info"|translate}}</h4>
                        <p>{{"PROVIDERS_PROFILE.Update your personal details here"|translate}}</p>
                    </div>
                    <hr />
                    <div class="info-section-right-card">
                        <mat-card appearance="outlined">
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Information"|translate}}</h6>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"COMMON.State"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">{{positionData?.state}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"COMMON.Status" | translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">{{positionData?.status}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Trading Account"|translate}}</h6>
                                    <a (click)="openBeTradingAccountPopup()" href="javascript:void(0)" class="default-link">
                                        <img src="../../../../assets/icons/arrow-single.png" />
                                    </a>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.MT name"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{tradeAccountData?.tradingAccName}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.MT login"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{tradeAccountData?.tradingAccountNo}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.State"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● {{tradeAccountData?.state}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>
                                        @if(this.isProvider) {
                                            {{"HOME.Provider"|translate}}
                                        } @else {
                                            {{"TRANSACTIONS.Subscription"|translate}}
                                        }
                                    </h6>
                                </div>
                                <div class="d-flex justify-center items-main" *ngIf="isProvider">
                                    <div class="items-left">
                                        <h6>{{"HOME.Nickname"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>
                                            <a [routerLink]="['/portal/providers', providersData.id]" class="default-link">
                                                <span>{{providersData?.nickname}}</span>
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main" *ngIf="isFollower">
                                    <div class="items-left">
                                        <h6>{{"TRANSACTIONS.Subscription"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>
                                            <a [routerLink]="['/portal/subscriptions', subscriptionData.id]" class="default-link">
                                                <span>Subscription #{{subscriptionData.id}}</span>
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.State"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">{{this.isProvider ? providersData?.state : subscriptionData?.state}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.Updated (UTC)"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{positionData?.updatedUtc | date:"MMMM d, y 'at' hh:mm:ss a"}}</h6>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="metrics-table">
                <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs="false" mat-align-tabs="start"
                    class="providerProfile-tabGroup">
                    <mat-tab label="{{ tab.label |translate }}" *ngFor="let tab of tabArrConfig; let index = index">
                        <ng-template matTabContent>
                            <div class="header-buttons d-flex justify-space-between pb-20 g-20 flex-wrap">
                                <div class="d-flex g-20 justify-center align-center">
                                    <button class="secondary-btn" (click)="applyFilters(tab)">
                                        <img src="../../../../assets/icons/filterIcon.svg" />
                                        {{"COMMON.Filters"|translate}}
                                    </button>
                                    <button class="secondary-btn" *ngIf="tab.filters.show" (click)="clearFilters(tab)">
                                        <img width="20" src="../../../../assets/icons/clear-icon.svg" />
                                        {{"COMMON.Clear"|translate}}
                                    </button>
                                </div>
                                <div class="d-flex g-20 common-dropdown align-center flex-wrap justify-end">
                                    @if (tab.filters.show) {
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('entry')">
                                            <mat-label>{{'PROVIDERS_PROFILE.Entry' | translate}}</mat-label>
                                            <mat-select [(ngModel)]="tab.filters.type.entry">
                                                <mat-option [value]="'In'">{{'PROVIDERS_PROFILE.In' | translate}}</mat-option>
                                                <mat-option [value]="'Out'">{{'PROVIDERS_PROFILE.Out' | translate}}</mat-option>
                                                <mat-option [value]="undefined">-</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    }
                                    <button class="secondary-btn" (click)="refreshDataList(tab)">
                                        @if (true) {
                                            <img src="../../../../assets/icons/searchIcon.svg" />
                                            {{"PROVIDERS_LIST.Search"|translate}}
                                        } @else {
                                            <img src="../../../../assets/icons/rotateIcon.svg" />
                                            {{"COMMON.Refresh"|translate}}
                                        }
                                    </button>
                                </div>
                            </div>
                            <common-ag-grid [gridConfig]="tab.grid.config" (emitToParent)="recieveChildrenEmitter($event)"
                             [gridData]="tab.grid.data" [showGridLoader]="tab.grid.showLoader">
                            </common-ag-grid>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-card-content>
    <div class="loader-container" *ngIf="showPageLoader" class="full-view-port-height d-flex justify-center align-center">
        <img src="../../../../assets/logo/ICM Logo Default 1.png" />
    </div>
</mat-card>