<div class="login-screen">
    <mat-card class="login-card">
        <div class="login-card-header">
            <div class="button-row">
                <!-- <button class="theme-btn">
                    <img src="../../../assets/icons/sun.png"/>
                </button> -->
                <button  class="flag-btn" [matMenuTriggerFor]="languageMenu">
                        <img height="24" width="24" [src]="'../../../assets/icons/' + selectedLangObj.icon"/>
                </button>
                <mat-menu #languageMenu="matMenu" class="languageMenu">
                    <button mat-menu-item *ngFor="let lang of languages" (click)="selectLanguage(lang)">
                        {{lang.name}} 
                        <ng-container *ngIf="lang.code !== 'en'">
                            ({{ lang.displayLabel }})
                        </ng-container>
                    </button>
                </mat-menu>
            </div>
        </div>
        <mat-card-content>
            <img class="login-logo" src="../../../assets/logo/ICM Logo Default 1.png">
            <div class="login-text-content">
                <h4>Social Trading</h4>
                <p>{{"login.Client portal"|translate}}</p>
                <p>{{"login.Register"|translate}}</p>
            </div>
            <form id="clientLoginForm" (ngSubmit)="loginUser()" [formGroup]="loginForm">
                <div class="login-form">
                    <div class="login-form-content" [ngClass]="{'show-error': showLoginFormError && (this.loginForm.controls['username'].errors?.['required'] || this.loginForm.controls['username'].errors?.['min'])}">
                        <div class="input-div">
                            <label class="lb-title">
                                {{"login.Username"|translate}} *
                            </label>
                            <input type="number" formControlName="username" (input)="checkLength()" />
                            <label class="lb-detail" *ngIf="!this.showLoginFormError || (!this.loginForm.controls['username'].errors?.['required'] && !loginForm.controls['username'].errors?.['min'])">{{"login.TradingAccountId"|translate}}</label>
                            <label class="lb-detail warn-msg" *ngIf="showLoginFormError && this.loginForm.controls['username'].errors?.['required']">
                                {{"login.FieldRequired"|translate}}
                            </label>
                            <label class="lb-detail warn-msg"
                                *ngIf="showLoginFormError && loginForm.controls['username'].errors?.['min']">
                                {{"PROVIDERS_PROFILE.Value must be greater than 0" | translate}}
                            </label>
                        </div>
                    </div>
                    <div class="login-form-content" [ngClass]="{'show-error': showLoginFormError && this.loginForm.controls['password'].errors?.['required']}">
                        <div class="input-div">
                            <label class="lb-title">
                                {{"login.Password"|translate}} *
                            </label>
                            <input type="password" formControlName="password" />
                            <label class="lb-detail" *ngIf="!this.showLoginFormError || !this.loginForm.controls['password'].errors?.['required']">{{"login.TradingAccountPassword"|translate}}</label>
                            <label class="lb-detail warn-msg" *ngIf="showLoginFormError && this.loginForm.controls['password'].errors?.['required']">
                                {{"login.FieldRequired"|translate}}
                            </label>
                        </div>
                    </div>
                </div>
            
                <div class="login-form-actions">
                    <div class="remember-me">
                        <input type="checkbox" />
                        <p>{{"login.Remember30days"|translate}}</p>
                    </div>
                    <div class="forgot-password">
                        <p>{{"login.ForgotPassword"|translate}}</p>
                    </div>
                </div>
                <div class="login-form-button">
                    <a>
                        <button mat-flat-button type="submit" [IcmLoadingOverlay]="showLoader">{{"login.Log In"|translate}}</button>
                    </a>
                </div>
            </form>
            <div class="login-form-actions">
                <div class="register" [routerLink]="'/portal/registration/provider'">
                    <p>{{"login.RegisterProvider"|translate}}</p>
                </div>
                <div class="register" [routerLink]="'/portal/registration/subscription'">
                    <p>{{"login.RegisterFollower"|translate}}</p>
                </div>
            </div>
            <div class="login-form-footer">
                <p>
                    {{"login.RegisterICMAccount"|translate}}. <a href="https://track.icmcapital.com/?t=copytrading&lang=en"> {{"login.Clickhere"|translate}}! </a>
                </p>
                <p>
                    {{"login.ExistingICMAccount"|translate}}. <a href="https://clients.icmcapital.mu/auth/login"> {{"login.Clickhere"|translate}}! </a>
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<show-error-message></show-error-message>