    <a *ngIf="params.colDef.colId == 'offerTitleCell' || params.colDef.colId == 'dealPositionCell' || params.colDef.colId == 'providerProfileRedirection' || params.colDef.colId == 'providerOfferRedirection' || params.colDef.colId == 'offerKeyCell'" 
        (click)="onCellNameClicked()" href="javascript:void(0)" class="default-link">
          <span>{{ params.value }}</span>
    </a>

    <div *ngIf="['resultIdCell', 'dealsTitleCell', 'followerProfileCell', 'transactionTitlePopup', 'offerCell', 'providerSubscriptionNameCell', 'positionNameCell', 'positionSubscriptionNameCell'].includes(params.colDef.colId)" class="d-flex flex-column">
      <a (click)="onCellNameClicked()" href="javascript:void(0)" class="default-link line-height-1-7">
        @if(params.colDef.colId == 'transactionTitlePopup') {
          <span>{{ params.value.reason }}</span>
        } @else if (params.colDef.colId == 'offerCell') {
          <span>{{params.data.offerTitle}}</span>
        } @else if(params.colDef.colId == 'providerSubscriptionNameCell') {
          <a href="javascript:void(0)" class="default-link">
            <span>Subscription #{{ params.value }}</span>
          </a>
        } @else if(params.colDef.colId == 'positionNameCell' || params.colDef.colId == 'positionSubscriptionNameCell' || params.colDef.colId == 'dealsTitleCell' || params.colDef.colId == 'followerProfileCell') {
            <span>{{ params.value }}</span>
        }  @else if(params.colDef.colId == 'resultIdCell') {
            <span>Result #{{ params.value }}</span>
        }
      </a>
      <div class="d-flex justify-left g-10 align-center">
        <div class="tag">
          @if(params.colDef.colId == 'transactionTitlePopup') {
            #{{params.value.id}}
          } @else if (params.colDef.colId == 'providerSubscriptionNameCell' || params.colDef.colId == 'resultIdCell' || params.colDef.colId == 'offerCell') {
            #{{ params.value }}
          } @else if (params.colDef.colId == 'positionNameCell' || params.colDef.colId == 'positionSubscriptionNameCell') {
            #{{ params.data.positionId }}
          } @else if (params.colDef.colId == 'dealsTitleCell' || params.colDef.colId == 'followerProfileCell') {
            #{{ params.data.id }}
          }
        </div>
        <div class="tag">
          @if(params.colDef.colId == 'transactionTitlePopup') {
            {{params.value.state}}
          } @else if (params.colDef.colId == 'offerCell') {
            {{params.data.offerState}}
          } @else if (params.colDef.colId == 'providerSubscriptionNameCell' || params.colDef.colId == 'positionNameCell' || params.colDef.colId == 'dealsTitleCell' || params.colDef.colId == 'resultIdCell' || params.colDef.colId == 'followerProfileCell') {
            {{params.data.state}}
          }
        </div>
      </div>
    </div>

    <div *ngIf="params.colDef.colId == 'transactionAmountViewDisplay'" class="d-flex flex-column">
        <div class="d-flex justify-left g-10 align-center line-height-2">
          <div class="{{params.value.direction == 'Deposit' ? 'deposit' : 'withdraw'}}">
            {{ params.value.direction == "Deposit" ? "<--" : "-->" }}
          </div>
          <div>
          {{ params.value.amount }}
          </div>
        </div>
        <div class="line-height-1">{{ params.value.type }}</div>
    </div>

    <div *ngIf="params.colDef.colId == 'transactionsenderAction'" class="d-flex flex-column">
        <div class="d-flex justify-left g-5 align-center {{params.value.ownerType == 'Provider' ? 'line-height-2' : ''}}">
          <a (click)="onCellNameClicked()" href="javascript:void(0)" class="default-link">
              <span>{{ params.value.name }}</span>
          </a>
          <div>
          #{{ params.value.subscriptionId }}
          </div>
        </div>
        <div *ngIf="params.value.ownerType == 'Provider'" class="line-height-1">{{ params.value.account }}</div>
    </div>
    
    <a *ngIf="params.colDef.colId == 'transactionRecipientAction'" [ngClass]="{'cursor-default': params.value.ownerType != 'Provider'}"
        (click)="onCellNameClicked()" href="javascript:void(0)" class="default-link">
        <span>{{ params.value.name }}</span>
    </a>

    <div *ngIf="params.colDef.colId == 'accountDetailsPopup' || params.colDef.colId == 'providerNameCell'" class="d-flex flex-column">
      <a (click)="onCellNameClicked()" href="javascript:void(0)" class="default-link line-height-1-7">
        <span>{{ params.value }}</span>
      </a>
      <div class="d-flex justify-left g-5 align-center">
        <div class="tag" *ngIf="params.colDef.colId == 'accountDetailsPopup'">
        #{{params.data.clientId}}
        </div>
        <div class="tag" *ngIf="params.colDef.colId == 'providerNameCell'">
          #{{params.data.providerId}}
          </div>
          
        <div class="tag" >
          {{params.data.state}}
        </div>
      </div>
    </div>
    
    <div *ngIf="params.colDef.colId == 'followerProfileRedirection' || params.colDef.colId == 'dealSubscriptionPositionCell'" class="d-flex flex-column line-height-1-7 justify-left align-baseline" href="javascript:void(0)">
      <div>
        <a href="javascript:void(0)" class="default-link" (click)="onCellNameClicked()">
          <span>{{ params.value }}</span>
        </a>
      </div>
      <div class="tag" *ngIf="params.colDef.colId !== 'dealSubscriptionPositionCell'">
        #{{params.data.followerId}}
      </div>
      <div class="tag" *ngIf="params.colDef.colId == 'dealSubscriptionPositionCell'">
        #{{params.data.positionId}}
      </div>
    </div>

    <div *ngIf="params.colDef.colId == 'subscriptionRedirection'">
      <div class="d-flex justify-left g-5 align-center">
        <a href="javascript:void(0)" class="default-link" [ngClass]="{'cursor-default': isProvider}"
        (click)="isProvider ? '' : onCellNameClicked()">
            <span>{{ params.value }}</span>
        </a>
        <div>
          #{{ params.data.followerId }}
        </div>
      </div>
    </div>

    <div *ngIf="params.colDef.colId == 'providerFees'">
      <div class="d-flex justify-left g-5 flex-column line-height-1-2">
        <div>Performance fee: {{params.value.performanceFee}}</div>
        <div>Management fee: {{params.value.managementFee}}</div>
        <div>Registration fee: {{params.value.registrationFee}}</div>
      </div>
    </div>

    <div *ngIf="['providerTradingAccountCell', 'positionVolumeCell', 'dealsVolumeCell', 'profitPositionCell', 'performanceFeeCell'].includes(params.colDef.colId)"
      class="d-flex flex-column line-height-1-7 justify-left align-baseline" href="javascript:void(0)">
      <div>
        @if(params.colDef.colId == 'profitPositionCell') {
          #
        }
        {{ params.value }}
        @if(params.colDef.colId == 'performanceFeeCell') {
          %
        }
      </div>
      <div *ngIf="['providerTradingAccountCell', 'performanceFeeCell', 'positionVolumeCell', 'dealsVolumeCell', 'profitPositionCell', 'performanceFeeCell'].includes(params.colDef.colId)"
      [ngClass]="{'tag' : ['profitPositionCell'].includes(params.colDef.colId) }">
        @if(params.colDef.colId == 'providerTradingAccountCell') {
          {{params.data.externalName}}
        }
        @if(params.colDef.colId == 'positionVolumeCell') {
          {{params.data.openDirection}}
        }
        @if(params.colDef.colId == 'dealsVolumeCell') {
          {{params.data.direction}}
        }
        @if(params.colDef.colId == 'performanceFeeCell') {
          {{ params.data.performance.interval }}
        }
        @if(params.colDef.colId == 'profitPositionCell') {
          #{{ params.data.positionId }}
        }
      </div>
    </div>

    <div *ngIf="params.colDef.colId == 'tagCell'">
      <div class="tag">{{ params.value }}</div>
    </div>

    <div *ngIf="params.colDef.colId == 'dateCell'">
        {{ params.value ? (params.value | date:'M/d/yy') : '-' }}
    </div>

    <div *ngIf="params.colDef.colId == 'dateTimeCell'">
      {{ params.value ? (params.value | date:'M/d/yy, h:mm:ss a') : '-' }}
    </div>

    <div *ngIf="params.colDef.colId == 'thresHoldCell'">
      Total profit > {{params.value | currency: 'USD':'symbol'}}
    </div>

    <div *ngIf="params.colDef.colId == 'subscriptionActionCell'" class="d-flex flex-column line-height-1-7 justify-left align-baseline">
      <div>Subscription: {{params.value}}</div>
      <div>Trading: {{params.data.tradingAction}}</div>
    </div>