.tag {
  border-radius: 8px;
  display: inline-block;
  line-height: 2;
  padding: 0px 10px;
  background: var(--primary-light-positive-color);
  color: var(--primary-positive-color);
  font-size: 13px;
  font-weight: 400;
  width: fit-content;
}