<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content" *ngIf="!showPageLoader">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center flex-wrap g-20">
                <div class="header-title">
                    <h5>{{providersData?.nickname}}</h5>
                    <p>{{"PROVIDERS_PROFILE.Provider's profile and sharing settings" | translate}}</p>
                </div>
                <button class="primary-btn action-btn" [matMenuTriggerFor]="actions" [ngClass]="{'btn-disable' : providersData.state == 'Archived'}">
                    <img src="../../../../assets/icons/actions.png" />
                    {{"COMMON.Actions" | translate}}
                </button>
                <mat-menu #actions="matMenu" class="actions-menu">
                    <button mat-menu-item (click)="openUploadAvatarModal()"><img src="../../../../assets/icons/cameraIcon.png" width="20" height="20"/>{{"PROVIDERS_PROFILE.Update Avatar" | translate}}</button>
                    <button mat-menu-item (click)="openSharedLinkModal()"><img src="../../../../assets/icons/{{providersData.sharedProfile.sharedKey ? 'remove-icon' : 'add-icon'}}.png"  width="20" height="20"/> 
                        @if(providersData.sharedProfile.sharedKey) {
                            {{"PROVIDERS_PROFILE.Delete shared link" | translate}}
                        } @else {
                            {{"PROVIDERS_PROFILE.Create shared link" | translate}}
                        }
                    </button>
                    <button mat-menu-item (click)="openProviderArchiveModal()"><img src="../../../../assets/icons/trashIcon.png"  width="20" height="20"/> {{"COMMON.Archive" | translate}}</button>
                </mat-menu>
            </div>
            <provider-follower-header-cards [isProvider]="true" [isFollower]="false" [getDataById]="true" [id]="providerId"></provider-follower-header-cards>
            <div class="info-section sibling-pb-0 d-flex justify-space-between">
                <div class="info-section-left">
                    <div class="d-flex justify-space-between w-100 flex-wrap flex-sm-nowrap">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Common Information"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Provider's common settings"|translate}}</p>
                            <button class="edit-btn info-section-btn mb-0" (click)="openCommonInfoDialog('common_info')" [ngClass]="{'btn-disable' : providersData.state == 'Archived'}">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items">
                            <div class="info-section-left-items-card">
                                <mat-card appearance="outlined">
                                    <div class="d-flex justify-space-between g-20 align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Nickname"|translate}}</h6>
                                        <p>{{providersData?.nickname}}</p>
                                    </div>
                                    <div class="d-flex justify-space-between g-20 align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Visibility"|translate}}</h6>
                                        <p>{{providersData?.visibility}}</p>
                                    </div>
                                    <div class="d-flex justify-space-between g-20 align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Show account name"|translate}}</h6>
                                        <p>{{providersData?.additional?.showAccountName}}</p>
                                    </div>
                                </mat-card>
                            </div>
                            
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100 flex-wrap flex-sm-nowrap">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Personal details of account"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Description of trading strategy by its owner"|translate}}</p>
                            <button class="edit-btn info-section-btn mb-0" (click)="openCommonInfoDialog('personal_details')" [ngClass]="{'btn-disable' : providersData.state == 'Archived'}">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items ">
                            <div class="info-section-left-items-card">
                                <mat-card appearance="outlined">
                                    <div class="d-flex justify-space-between g-20 align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Summary"|translate}}</h6>
                                        <p>{{providersData?.additional?.summary ? providersData?.additional?.summary : 'No summary' }}</p>
                                    </div>
                                    <div class="d-flex justify-space-between g-20 align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Notes"|translate}}</h6>
                                        <p>{{providersData?.additional?.notes ? providersData?.additional?.notes : 'No notes'}}</p>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100 flex-wrap flex-sm-nowrap">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Strategy"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Provider's settings of publishing deals"|translate}}</p>
                            <button class="edit-btn info-section-btn mb-0" (click)="openCommonInfoDialog('strategy_details')" [ngClass]="{'btn-disable' : providersData.state == 'Archived'}">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items">
                            <div class="info-section-left-items-card">
                                <mat-card appearance="outlined">
                                    <div class="d-flex justify-space-between g-20 align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Hide stops"|translate}}</h6>
                                        <p>{{providersData?.strategy?.hideStops}}</p>
                                    </div>
                                    <div class="d-flex justify-space-between g-20 align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Strategy Mode"|translate}}</h6>
                                        <p>{{providersData?.strategy?.mode == 'OutOnly'? 'Out only': 'All'}}</p>
                                    </div>
                                </mat-card> 
                            </div> 
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100 flex-wrap flex-sm-nowrap">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Finance"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Provider's finance settings"|translate}}</p>
                            <button class="edit-btn info-section-btn mb-0" (click)="openCommonInfoDialog('finance')" [ngClass]="{'btn-disable' : providersData.state == 'Archived'}">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items">
                            <div class="info-section-left-items-card">
                                <mat-card appearance="outlined">
                                    <div class="d-flex justify-space-between g-20 align-center">
                                        <h6>{{"PROVIDERS_PROFILE.Fee receiver account"|translate}}</h6>
                                        <p>{{providersData?.externalName}}</p>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-section-right">
                    <div class="info-section-right-header">
                        <h4>{{"PROVIDERS_PROFILE.Personal Info"|translate}}</h4>
                        <p>{{"PROVIDERS_PROFILE.Update your personal details here"|translate}}</p>
                    </div>
                    <hr />
                    <div class="info-section-right-card">
                        <mat-card appearance="outlined">
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Information"|translate}}</h6>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"COMMON.State"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● {{providersData?.state}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.Registered" | translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{providersData?.registerTime | date:'M/d/yy, h:mm:ss a'}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Trading Account"|translate}}</h6>
                                    <a (click)="openBeTradingAccountPopup()" href="javascript:void(0)" class="default-link">
                                        <img src="../../../../assets/icons/arrow-single.png" />
                                    </a>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.MT name"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{tradeAccountData?.tradingAccName}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.MT login"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{tradeAccountData?.tradingAccountNo}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.State"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● {{tradeAccountData?.state}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.Created (UTC)"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{providersData?.createdUtc | date:"MMMM d, y 'at' hh:mm:ss a"}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.Updated (UTC)"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{providersData?.updatedUtc | date:"MMMM d, y 'at' hh:mm:ss a"}}</h6>
                                    </div>
                                </div>
                            </div>

                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="info-section d-flex justify-space-between">
                <div class="info-section-left">
                    <div class="info-section-offers-list">
                        <div class="d-flex justify-space-between w-100 info-section-left-header">
                            <div class="info-section-left-items">
                                <h4>{{"PROVIDERS_PROFILE.Offers"|translate}}</h4>
                                <p>{{"PROVIDERS_PROFILE.Sets of subscription conditions"|translate}}</p>
                            </div>
                            <div class="info-section-left-items">
                                <div class="d-flex justify-space-between g-10 flex-wrap flex-sm-nowrap header-buttons">
                                    <div class="d-flex g-20 common-dropdown align-center">
                                        <mat-form-field>
                                            <mat-label>{{"PROVIDERS_PROFILE.Scope" | translate}}</mat-label>
                                            <mat-select [(ngModel)]="selectedOfferState" (selectionChange)="refreshOffersList()">
                                              <mat-option value="Active">{{"COMMON.Active"|translate}}</mat-option>
                                              <mat-option value="all">{{"COMMON.All"| translate}}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>
                                    <div><h4 class="divider">|</h4></div>
                                    <div class="d-flex justify-center g-10 align-stretch table-filter-container">
                                        <button class="secondary-btn" (click)="refreshOffersList()">
                                            <img src="../../../../assets/icons/rotateIcon.svg" />
                                            {{"COMMON.Refresh"|translate}}
                                        </button>
                                        <button class="primary-btn" (click)="openCreateOfferModal()" [ngClass]="{'btn-disable' : providersData.state == 'Archived'}">
                                            <img src="../../../../assets/icons/plusIcon.png" />
                                            {{"COMMON.Create"|translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-section-left-items">
                            <div class="table">
                                <common-ag-grid [gridConfig]="offerGridConfig"
                                [gridData]="offerGridData" [showGridLoader]="showOfferGridLoder">
                                </common-ag-grid>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-section-right"></div>
            </div>
            <div class="metrics-table">
                <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs="false" mat-align-tabs="start"
                    class="providerProfile-tabGroup">
                    <mat-tab label="{{ tab.label |translate }}" *ngFor="let tab of tabArrConfig; let index = index">
                        <ng-template matTabContent>
                            <div class="header-buttons d-flex justify-space-between pb-20 g-20">
                                <div class="d-flex g-20 align-center flex-wrap table-filter-container">
                                    <button class="secondary-btn" (click)="applyFilters(tab)">
                                        <img src="../../../../assets/icons/filterIcon.svg" />
                                        {{"COMMON.Filters"|translate}}
                                    </button>
                                    <button class="secondary-btn" *ngIf="tab.filters.show" (click)="clearFilters(tab)">
                                        <img width="20" src="../../../../assets/icons/clear-icon.svg" />
                                        {{"COMMON.Clear"|translate}}
                                    </button>
                                </div>
                                <div class="d-flex g-20 common-dropdown align-center flex-wrap justify-end">
                                    @if (tab.filters.show) {
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('id')">
                                            <mat-label>{{"COMMON.Id"|translate}}</mat-label>
                                            <input matInput type="number" [(ngModel)]="tab.filters.type.id" />
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('offerId')">
                                            <mat-label>{{"PROVIDERS_PROFILE.Offer"|translate}}</mat-label>
                                            <mat-select [(ngModel)]="tab.filters.type.offerId">
                                                <ng-container *ngFor="let offer of offerGridData">
                                                    <mat-option [value]="offer.offerId">{{offer.offerTitle}}</mat-option>
                                                </ng-container>
                                                <mat-option [value]="undefined">-</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('activationStatus')">
                                            <mat-label>{{"PROVIDERS_PROFILE.Activation Status"|translate}}</mat-label>
                                            <mat-select [(ngModel)]="tab.filters.type.activationStatus">
                                                <mat-option [value]="'needsactivation'">{{"PROVIDERS_PROFILE.Needs Activation"|translate}}</mat-option>
                                                <mat-option [value]="'activated'">{{"PROVIDERS_PROFILE.Activated"|translate}}</mat-option>
                                                <mat-option [value]="'suspended'">{{"PROVIDERS_PROFILE.Suspended"|translate}}</mat-option>
                                                <mat-option [value]="undefined">-</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('externalAccount')">
                                            <mat-label>{{"PROVIDERS_PROFILE.Trading Account"|translate}}</mat-label>
                                            <input matInput type="number" [(ngModel)]="tab.filters.type.externalAccount" />
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('agent')">
                                            <mat-label>{{"COMMON.Agent"|translate}}</mat-label>
                                            <input matInput type="number" [(ngModel)]="tab.filters.type.agent" />
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('scope')">
                                            <mat-label>{{'PROVIDERS_PROFILE.Scope' | translate}}</mat-label>
                                            <mat-select [(ngModel)]="tab.filters.type.scope">
                                                <mat-option [value]="'Active'">{{'COMMON.Active' | translate}}</mat-option>
                                                <mat-option [value]="'All'">{{'COMMON.All' | translate}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('position')">
                                            <mat-label>{{"PROVIDERS_PROFILE.Position"|translate}}</mat-label>
                                            <input matInput type="number" [(ngModel)]="tab.filters.type.position" />
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('posState')">
                                            <mat-label>{{'PROVIDERS_PROFILE.State' | translate}}</mat-label>
                                            <mat-select [(ngModel)]="tab.filters.type.posState">
                                                <mat-option [value]="'Tracking'">{{'PROVIDERS_PROFILE.Tracking' | translate}}</mat-option>
                                                <mat-option [value]="'Processed'">{{'TRANSACTIONS.Processed' | translate}}</mat-option>
                                                <mat-option [value]="undefined">-</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('dealKey')">
                                            <mat-label>{{"PROVIDERS_PROFILE.Deal"|translate}}</mat-label>
                                            <input matInput type="text" [(ngModel)]="tab.filters.type.dealKey" />
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('dealState')">
                                            <mat-label>{{'PROVIDERS_PROFILE.State' | translate}}</mat-label>
                                            <mat-select [(ngModel)]="tab.filters.type.dealState">
                                                <mat-option [value]="'Pending'">{{'PROVIDERS_PROFILE.Pending' | translate}}</mat-option>
                                                <mat-option [value]="'Processing'">{{'PROVIDERS_PROFILE.Processing' | translate}}</mat-option>
                                                <mat-option [value]="'Processed'">{{'TRANSACTIONS.Processed' | translate}}</mat-option>
                                                <mat-option [value]="'Error'">{{'PROVIDERS_PROFILE.Error' | translate}}</mat-option>
                                                <mat-option [value]="undefined">-</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('entry')">
                                            <mat-label>{{'PROVIDERS_PROFILE.Entry' | translate}}</mat-label>
                                            <mat-select [(ngModel)]="tab.filters.type.entry">
                                                <mat-option [value]="'In'">{{'PROVIDERS_PROFILE.In' | translate}}</mat-option>
                                                <mat-option [value]="'Out'">{{'PROVIDERS_PROFILE.Out' | translate}}</mat-option>
                                                <mat-option [value]="undefined">-</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('symbol')">
                                            <mat-label>{{"PROVIDERS_PROFILE.Symbol"|translate}}</mat-label>
                                            <input matInput type="text" [(ngModel)]="tab.filters.type.symbol" />
                                        </mat-form-field>
                                        
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('platformId')">
                                            <mat-label>{{"TRANSACTIONS.MT order"|translate}}</mat-label>
                                            <input matInput type="number" [(ngModel)]="tab.filters.type.platformId" />
                                        </mat-form-field>
                                    }
                                    <button class="secondary-btn" (click)="refreshDataList(tab)">
                                        @if (true) {
                                            <img src="../../../../assets/icons/searchIcon.svg" />
                                            {{"PROVIDERS_LIST.Search"|translate}}
                                        } @else {
                                            <img src="../../../../assets/icons/rotateIcon.svg" />
                                            {{"COMMON.Refresh"|translate}}
                                        }
                                    </button>
                                </div>
                            </div>
                            <common-ag-grid [gridConfig]="tab.grid.config" (emitToParent)="recieveChildrenEmitter($event)"
                             [gridData]="tab.grid.data" [showGridLoader]="tab.grid.showLoader">
                            </common-ag-grid>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-card-content>
    <div class="loader-container" *ngIf="showPageLoader" class="full-view-port-height d-flex justify-center align-center">
        <img src="../../../../assets/logo/ICM Logo Default 1.png" />
    </div>
</mat-card>
<show-error-message></show-error-message>