<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content" *ngIf="!showPageLoader">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>{{providersData?.nickname}}</h5>
                    <p>{{"PROVIDERS_PROFILE.Provider's profile and sharing settings" | translate}}</p>
                </div>
                <button class="primary-btn action-btn" [matMenuTriggerFor]="actions">
                    <img src="../../../../assets/icons/actions.png" />
                    {{"COMMON.Actions" | translate}}
                </button>
                <mat-menu #actions="matMenu" class="actions-menu">
                    <button mat-menu-item ><img src="../../../../assets/icons/cameraIcon.png" width="20" height="20"/>{{"PROVIDERS_PROFILE.Update Avatar" | translate}}</button>
                    <button mat-menu-item><img src="../../../../assets/icons/add-icon.png"  width="20" height="20"/> Create shared link</button>
                    <button mat-menu-item><img src="../../../../assets/icons/trashIcon.png"  width="20" height="20"/> {{"COMMON.Archive" | translate}}</button>
                </mat-menu>
            </div>
            <provider-follower-header-cards></provider-follower-header-cards>
            <div class="info-section d-flex justify-space-between">
                <div class="info-section-left">
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Common Information"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Provider's common settings"|translate}}</p>
                            <button class="edit-btn info-section-btn" (click)="openCommonInfoDialog()">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between g-20 align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Nickname"|translate}}</h6>
                                    <p>{{providersData?.nickname}}</p>
                                </div>
                                <div class="d-flex justify-space-between g-20 align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Show account name"|translate}}</h6>
                                    <p>{{providersData?.additional?.showAccountName}}</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Personal details of account"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Description of trading strategy by its owner"|translate}}</p>
                            <button class="edit-btn info-section-btn">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between g-20 align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Summary"|translate}}</h6>
                                    <p>{{providersData?.additional?.summary}}</p>
                                </div>
                                <div class="d-flex justify-space-between g-20 align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Notes"|translate}}</h6>
                                    <p>{{providersData?.additional?.notes}}</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Strategy"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Provider's settings of publishing deals"|translate}}</p>
                            <button class="edit-btn info-section-btn">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between g-20 align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Hide stops"|translate}}</h6>
                                    <p>{{providersData?.strategy?.hideStops}}</p>
                                </div>
                                <div class="d-flex justify-space-between g-20 align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Strategy Mode"|translate}}</h6>
                                    <p>{{providersData?.strategy?.mode == 'OutOnly'? 'Out only': 'All'}}</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Finance"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Provider's finance settings"|translate}}</p>
                            <button class="edit-btn info-section-btn">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between g-20 align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Fee receiver account"|translate}}</h6>
                                    <p>{{providersData?.externalName}}</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Offers"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Sets of subscription conditions"|translate}}</p>
                        </div>
                        <div class="info-section-left-items">
                            <div class="d-flex justify-space-between g-10">
                                <div class="d-flex g-20 common-dropdown align-center">
                                    <mat-form-field>
                                        <mat-label>{{"PROVIDERS_PROFILE.Scope" | translate}}</mat-label>
                                        <mat-select [(ngModel)]="selectedOfferState" (selectionChange)="refreshOffersList()">
                                          <mat-option value="Active">{{"COMMON.Active"|translate}}</mat-option>
                                          <mat-option value="all">{{"COMMON.All"| translate}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div><h4 class="divider">|</h4></div>
                                <div class="d-flex justify-center g-10 align-stretch">
                                    <button class="secondary-btn" (click)="refreshOffersList()">
                                        <img src="../../../../assets/icons/rotateIcon.svg" />
                                        {{"COMMON.Refresh"|translate}}
                                    </button>
                                    <button class="primary-btn">
                                        <img src="../../../../assets/icons/plusIcon.png" />
                                        {{"COMMON.Create"|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="table">
                            <common-ag-grid [gridConfig]="gridConfig.offers"
                            [gridData]="gridData.offers" [showGridLoader]="showGridLoder.offers">
                            </common-ag-grid>
                        </div>
                    </div>
                </div>
                <div class="info-section-right">
                    <div class="info-section-right-header">
                        <h4>{{"PROVIDERS_PROFILE.Personal Info"|translate}}</h4>
                        <p>{{"PROVIDERS_PROFILE.Update your personal details here"|translate}}</p>
                    </div>
                    <hr />
                    <div class="info-section-right-card">
                        <mat-card appearance="outlined">
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Information"|translate}}</h6>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"COMMON.State"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● {{providersData?.state}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.Registered" | translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{providersData?.registerTime | date:'M/d/yy, h:mm:ss a'}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Trading Account"|translate}}</h6>
                                    <a (click)="openBeTradingAccountPopup()" href="javascript:void(0)" class="default-link">
                                        <img src="../../../../assets/icons/arrow-single.png" />
                                    </a>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.MT name"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{tradeAccountData?.tradingAccName}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.MT login"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{tradeAccountData?.tradingAccountNo}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.State"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● {{tradeAccountData?.state}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.Created (UTC)"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{providersData?.createdUtc | date:"MMMM d, y 'at' hh:mm:ss a"}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.Updated (UTC)"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{providersData?.updatedUtc | date:"MMMM d, y 'at' hh:mm:ss a"}}</h6>
                                    </div>
                                </div>
                            </div>

                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="metrics-table">

                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="providerProfile-tabGroup">
                    <mat-tab label="Subscriptions">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                {{"COMMON.Filters"|translate}}
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                {{"COMMON.Refresh"|translate}}
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="SubsRows"
                                [columnDefs]="SubsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Positions">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                {{"COMMON.Filters"|translate}}
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                {{"COMMON.Refresh"|translate}}
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="PositionsRows"
                                [columnDefs]="PositionsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Deals">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                {{"COMMON.Filters"|translate}}
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                {{"COMMON.Refresh"|translate}}
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="DealsRows"
                                [columnDefs]="DealsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Fees">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                {{"COMMON.Filters"|translate}}
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                {{"COMMON.Refresh"|translate}}
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="FeesRows"
                                [columnDefs]="FeesCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </mat-card-content>
    <div class="loader-container" *ngIf="showPageLoader" class="full-view-port-height d-flex justify-center align-center">
        <img src="../../../../assets/logo/ICM Logo Default 1.png" />
    </div>
</mat-card>
<show-error-message></show-error-message>