<div>
    @if(params.colDef.colId == 'activityCell') {
        <img height="25" width="25" *ngIf="params.data.isActivated && params.data.state == 'Active' && params.value" src="../../../../assets/icons/Check icon.png" />
        <img height="25" width="25" *ngIf="params.data.isActivated && params.data.state == 'Active' && !params.value" src="../../../../assets/icons/pause-button.png" />
        <img height="25" width="25" *ngIf="!params.data.isActivated && params.data.state == 'Archived'" src="../../../../assets/icons/cancelIcon.png" />
        <img height="25" width="25" *ngIf="!params.data.isActivated && params.data.state == 'Active'" src="../../../../assets/icons/redSettingsIcon.png" />
    } @else {
        <img height="25" width="25" *ngIf="params.value == true || params.value == 'Active'" src="../../../../assets/icons/Check icon.png" />
        <img height="25" width="25" *ngIf="params.value == false || params.value == 'Expired'" src="../../../../assets/icons/cancelIcon.png" />
    }
</div>