<h2 mat-dialog-title class="text-center">{{'HOME.TradingAccInfo' | translate}}</h2>
<p class="text-center">{{'ACCOUNTS.InfoMetaTradeAccount'|translate}}</p>
<mat-dialog-content class="mat-typography">
    <div class="account-details-container">
        <div class="account-left-right-section">
            <div>{{'COMMON.Id'|translate}}</div>
            <div>{{'COMMON.State'|translate}}</div>
            <div>{{'ACCOUNTS.Connected'|translate}}</div>
            <div>{{'PROVIDERS_PROFILE.MT login'|translate}}</div>
            <div>{{'PROVIDERS_PROFILE.MT name'|translate}}</div>
            <div>{{'ACCOUNTS.TradeGroupType'|translate}}</div>
            <div>{{'ACCOUNTS.AvailInMetaTrade'|translate}}</div>
            <div>{{'ACCOUNTS.TradeType'|translate}}</div>
            <div>{{'PROVIDERS_PROFILE.Currency'|translate}}</div>
            <div>{{'ACCOUNTS.Balance'|translate}}</div>
            <div>{{'ACCOUNTS.Credit'|translate}}</div>
            <div>{{'ACCOUNTS.Equity'|translate}}</div>
            <div>{{'ACCOUNTS.FloatProfit'|translate}}</div>
        </div>
        <div class="account-left-right-section text-right">
            <div>{{tradingAccountDetails.clientId}}</div>
            <div class="bolder">{{tradingAccountDetails.state}}</div>
            <div>{{tradingAccountDetails.connectTime}}</div>
            <div>{{tradingAccountDetails.tradingAccountNo}}</div>
            <div>{{tradingAccountDetails.tradingAccName}}</div>
            <div class="bolder">{{tradingAccountDetails.tradeGroupType}}</div>
            <div class="bolder">{{tradingAccountDetails.avialableInMetaTrade}}</div>
            <div class="bolder">{{tradingAccountDetails.tradeType}}</div>
            <div>{{tradingAccountDetails.currency}}</div>
            <div>{{tradingAccountDetails.balance}}</div>
            <div>{{tradingAccountDetails.credit}}</div>
            <div>{{tradingAccountDetails.equity}}</div>
            <div>{{tradingAccountDetails.floatingPoint}}</div>
        </div>
    </div>
</mat-dialog-content>
<div class="d-flex justify-center g-20">
    <button class="secondary-btn" (click)="closeTradingAccountForm()">
        {{'COMMON.Cancel'|translate}}
    </button>
</div>