.web-layout{
    display: flex;
    gap: 15px;
    .sidenav{
        width: 300px;
    }
    .pages{
        flex: 1;
        padding-right: 10px;
        width:77%; //Dont know but we have to give some width only then rating page is working fine. if we remove it rating page is getting distorted.
    }
}