<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content">
        <div class="pb-20 d-flex justify-start">
            <a [routerLink]="'/portal/ratings'" class="anchor-decore-none">
                <button class="secondary-btn"> <img src="../../../../../assets/icons/arrow-left.svg" />{{"COMMON.Back"|translate}}</button>
            </a>
        </div>
        <div class="profile-header-card">
            <div class="title-area d-flex justify-space-between align-center">
                <div class="d-flex justify-space-between align-center g-10">
                    <img class="provider-icon" src="../../../../assets/icons/providerIcon.jpeg" />
                    <div class="text">
                        <p class="heading">Catalog</p>
                    </div>
                </div>
                <button class="primary-btn">{{"PROVIDERS_LIST_PROFILE.Copy Strategy" |translate}}</button>
            </div>
            <div class="mid-area d-flex justify-space-between align-center pb-10">
                <div>
                    <p>{{"PROVIDERS_LIST_PROFILE.Manager Bio"|translate}}</p>
                    <p class="sub-heading">The Strategy Manager hasn’t provided a BIO</p>
                </div>
                <div class="values d-flex justify-space-between align-center g-20">
                    <div>
                        <p>{{"PROVIDERS_LIST_PROFILE.Fees"|translate}}</p>
                        <p class="sub-heading">50%</p>
                    </div>
                    <div>
                        <p>{{"PROVIDERS_LIST_PROFILE.Min. Investment"|translate}}</p>
                        <p class="sub-heading">$500</p>
                    </div>
                    <div>
                        <p>{{"PROVIDERS_LIST_PROFILE.Invested"|translate}}</p>
                        <p class="sub-heading">$500</p>
                    </div>
                </div>
            </div>
            <div class="desc-area d-flex justify-space-between align-center pb-10">
                <div>
                    <p>{{"PROVIDERS_LIST_PROFILE.Description"|translate}}</p>
                    <p class="sub-heading">Permanent little.</p>
                </div>
                <!-- <div class="values d-flex justify-space-between align-center g-20">
                    <div>
                        <img class="values-icon2" src="../../../../../assets/icons/commodities.svg" />
                    </div>
                    <div>
                        <img class="values-icon1" src="../../../../../assets/icons/human.svg" />
                    </div>
                </div> -->
            </div>
        </div>
        <div class="pb-20 d-flex justify-space-between g-20">
            <div class="assets-card">
                <div class="d-flex justify-space-between align-center px-20">
                    <h6>{{"PROVIDERS_LIST_PROFILE.Asset Allocation"|translate}}</h6>
                    <div class="assets-badge">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                            [hideSingleSelectionIndicator]="true">
                            <mat-button-toggle value="open" [checked]="true">{{"PROVIDERS_LIST_PROFILE.Open"|translate}}</mat-button-toggle>
                            <mat-button-toggle value="closed">{{"PROVIDERS_LIST_PROFILE.Closed"|translate}}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <mat-divider class="assets-divider"></mat-divider>
                <div>
                    <provider-charts [chartType]="'barChart'" [dataConfig]="{}"></provider-charts>
                </div>
            </div>
            <div class="returns-card">
                <div class="d-flex justify-space-between align-center px-20">
                    <h6>{{"PROVIDERS_LIST_PROFILE.Return & Investment"|translate}}</h6>
                    <div class="assets-badge">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                            [hideSingleSelectionIndicator]="true">
                            <mat-button-toggle value="open" [checked]="true">{{"PROVIDERS_LIST_PROFILE.Returns"|translate}}</mat-button-toggle>
                            <mat-button-toggle value="closed">{{"PROVIDERS_LIST_PROFILE.Investors"|translate}}</mat-button-toggle>
                            <mat-button-toggle value="closed">{{"PROVIDERS_LIST_PROFILE.Invested"|translate}}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <mat-divider class="assets-divider"></mat-divider>
                <div>
                    <provider-charts [chartType]="'stackChart'" [dataConfig]="{}"></provider-charts>
                </div>
            </div>
        </div>
        <div>
            <div class="performance-card">
                <div class="d-flex justify-center">
                    <div class="performance-badge">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                            [hideSingleSelectionIndicator]="true">
                            <mat-button-toggle value="open" [checked]="performanceToggle == 'performance'"
                                (click)="togglePerformance('performance')">{{"PROVIDERS_LIST_PROFILE.Performance"|translate}}</mat-button-toggle>
                            <mat-button-toggle value="closed" [checked]="performanceToggle == 'risk'"
                                (click)="togglePerformance('risk')">{{"PROVIDERS_LIST_PROFILE.Risk"|translate}}</mat-button-toggle>
                            <mat-button-toggle value="closed" [checked]="performanceToggle == 'portfolio'"
                                (click)="togglePerformance('portfolio')">{{"PROVIDERS_LIST_PROFILE.Portfolio"|translate}}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div class="performance-tab" *ngIf="performanceToggle == 'performance'">
                    <mat-divider class="assets-divider"></mat-divider>
                    <div class="d-flex justify-space-between align-center">
                        <div style="width: 70%;">
                            <provider-charts [chartType]="'areaChart'" [dataConfig]="{}"></provider-charts>
                        </div>
                        <div style="width: 30%;" class="assets-card">
                            <provider-charts [chartType]="'pieChart'" [dataConfig]="{}"></provider-charts>
                            <div class="pieChart-value d-flex justify-space-between align-center pb-10">
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Trade Won"|translate}}</p>
                                    <p class="positive">101/83%</p>
                                </div>
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Trade Lost"|translate}}</p>
                                    <p class="negative">20/17%</p>
                                </div>
                            </div>
                            <div class="pieChart-value d-flex justify-space-between align-center pb-10">
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Best Trade"|translate}}</p>
                                    <p class="positive">238.37</p>
                                </div>
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Trade Lost"|translate}}</p>
                                    <p class="negative">339.47</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="risk-tab" *ngIf="performanceToggle == 'risk'">
                    <div class="d-flex justify-space-between align-center g-20 pb-20">
                        <div class="trading-card">
                            <h6>{{"PROVIDERS_LIST_PROFILE.Trading Frequency"|translate}}</h6>
                            <provider-charts [chartType]="'riskStackedChart'" [dataConfig]="{}"></provider-charts>
                        </div>
                        <div class="strategy-card">
                            <div class="d-flex justify-space-between">
                                <h6>{{"PROVIDERS_LIST_PROFILE.Strategy Stats"|translate}}</h6>
                                <div class="badge d-flex justify-space-between g-10">
                                    <p>{{"PROVIDERS_LIST_PROFILE.Risk"|translate}}</p>
                                    <div class="badge-count">
                                        <p>10</p>
                                    </div>
                                </div>
                            </div>
                            <div class="strategy-value d-flex justify-space-between align-center pb-10">
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Avg. Profit Per Trade"|translate}}</p>
                                    <p class="positive">$33.67</p>
                                </div>
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Avg. Loss Per Trade"|translate}}</p>
                                    <p class="negative">-$77.28</p>
                                </div>
                            </div>
                            <div class="strategy-value d-flex justify-space-between align-center pb-10">
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Trade Avg. Duration"|translate}}</p>
                                    <p>3 Days</p>
                                </div>
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Sharpe Ratio"|translate}}</p>
                                    <p>0.25</p>
                                </div>
                            </div>
                            <div class="strategy-value d-flex justify-space-between align-center pb-10">
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Max. Drawdown"|translate}}</p>
                                    <p>89.25</p>
                                </div>
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Max. Drawdown Time"|translate}}</p>
                                    <p>13/04/2024</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="portfolio-tab" *ngIf="performanceToggle == 'portfolio'">
                    <div class="d-flex justify-space-between align-center g-20 pb-20">
                        <div class="porflio-card">
                            <provider-charts [chartType]="'portfolioChartOptions1'" [dataConfig]="{}"></provider-charts>
                        </div>
                        <div class="porflio-card">
                            <provider-charts [chartType]="'portfolioChartOptions2'" [dataConfig]="{}"></provider-charts>
                        </div>
                        <div class="porflio-card">
                            <provider-charts [chartType]="'portfolioChartOptions3'" [dataConfig]="{}"></provider-charts>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="provider-list-profile-table pb-20">
            <div>
                <common-ag-grid [gridConfig]="gridConfig" [gridData]="rowData"
                    [showGridLoader]="showGridLoader">
                </common-ag-grid>
            </div>
        </div>
    </mat-card-content>
</mat-card>