.nickname-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
.tag {
  border-radius: 8px;
  display: inline-block;
  line-height: 2;
  padding: 0px 10px;
  background: rgba(128, 128, 128, 0.2901960784);
  font-size: 13px;
  font-weight: 400;
}