<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content" *ngIf="!showPageLoader">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>{{"SUBSCRIPTION.Subscription Profile"|translate}} #{{subscriptionData.id}}</h5>
                    <p>{{"SUBSCRIPTION.General information about the subscription"|translate}}</p>
                </div>
            </div>
            <div class="info-section d-flex justify-space-between">
                <div class="info-section-left">
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"SUBSCRIPTION.Subscription Strategy"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Description of strategy"|translate}}</p>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.Volume scaling"|translate}}</h6>
                                    <p>{{subscriptionData.strategy.type}}</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"SUBSCRIPTION.Offer"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Description of Offers"|translate}}</p>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.Title"|translate}}</h6>
                                    <p>
                                        <a [routerLink]="['/portal/offers', offerId]" class="default-link">
                                            <span>{{offerData.name}}</span>
                                        </a>
                                    </p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.Performance fee"|translate}}</h6>
                                    <p>{{offerData.performance.fee}}% ({{offerData.performance.interval}})</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"SUBSCRIPTION.Trading account"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Description of Trading account platform"|translate}}</p>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.MT name"|translate}}</h6>
                                    <p>{{subscriptionData.externalName}}</p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.MT login"|translate}}</h6>
                                    <p>{{subscriptionData.externalAccount}}</p>
                                </div><div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.Equity"|translate}}</h6>
                                    <p>{{subscriptionData.equity | currency: (subscriptionData.currency):'symbol'}}</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="info-section-right">
                    <div class="info-section-right-header">
                        <h4>{{"PROVIDERS_PROFILE.Personal Info"|translate}}</h4>
                        <p>{{"PROVIDERS_PROFILE.Update your personal details here"|translate}}</p>
                    </div>
                    <hr />
                    <div class="info-section-right-card">
                        <mat-card appearance="outlined">
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Information"|translate}}</h6>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"COMMON.State"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● {{subscriptionData.state}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"COMMON.Status" | translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 *ngIf="!subscriptionData.isActivated">{{"PROVIDERS_PROFILE.Needs Activation"|translate}}</h6>
                                        <h6 *ngIf="subscriptionData.isActivated && subscriptionData.activationStatus">{{"PROVIDERS_PROFILE.Activated"|translate}}</h6>
                                        <h6 *ngIf="subscriptionData.isActivated && !subscriptionData.activationStatus">{{"PROVIDERS_PROFILE.Suspended"|translate}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.Registered"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>{{subscriptionData.registerTime | date:'M/d/yy, h:mm:ss a'}}</h6>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="metrics-table">
                <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs="false" mat-align-tabs="start"
                    class="providerProfile-tabGroup">
                    <mat-tab label="{{ tab.label |translate }}" *ngFor="let tab of tabArrConfig; let index = index">
                        <ng-template matTabContent>
                            <div class="header-buttons d-flex justify-space-between pb-20 g-20">
                                <div class="d-flex g-20 justify-center align-center">
                                    <button class="secondary-btn" (click)="applyFilters(tab)">
                                        <img src="../../../../assets/icons/filterIcon.svg" />
                                        {{"COMMON.Filters"|translate}}
                                    </button>
                                    <button class="secondary-btn" *ngIf="tab.filters.show" (click)="clearFilters(tab)">
                                        <img width="20" src="../../../../assets/icons/clear-icon.svg" />
                                        {{"COMMON.Clear"|translate}}
                                    </button>
                                </div>
                                <div class="d-flex g-20 common-dropdown align-center flex-wrap justify-end">
                                    @if (tab.filters.show) {
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('id')">
                                            <mat-label>{{"COMMON.Id"|translate}}</mat-label>
                                            <input matInput type="number" [(ngModel)]="tab.filters.type.id" />
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('resultId')">
                                            <mat-label>{{"PROVIDERS_PROFILE.Result"|translate}}#</mat-label>
                                            <input matInput type="number" [(ngModel)]="tab.filters.type.resultId" />
                                        </mat-form-field>
                                        <mat-form-field *ngIf="tab.filters.type.hasOwnProperty('platformId')">
                                            <mat-label>{{"TRANSACTIONS.MT order"|translate}}</mat-label>
                                            <input matInput type="number" [(ngModel)]="tab.filters.type.platformId" />
                                        </mat-form-field>
                                    }
                                    <button class="secondary-btn" (click)="refreshDataList(tab)">
                                        @if (true) {
                                            <img src="../../../../assets/icons/searchIcon.svg" />
                                            {{"PROVIDERS_LIST.Search"|translate}}
                                        } @else {
                                            <img src="../../../../assets/icons/rotateIcon.svg" />
                                            {{"COMMON.Refresh"|translate}}
                                        }
                                    </button>
                                </div>
                            </div>
                            <common-ag-grid [gridConfig]="tab.grid.config" [gridData]="tab.grid.data"
                                [showGridLoader]="tab.grid.showLoader">
                            </common-ag-grid>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-card-content>
    <div class="loader-container" *ngIf="showPageLoader" class="full-view-port-height d-flex justify-center align-center">
        <img src="../../../../assets/logo/ICM Logo Default 1.png" />
    </div>
</mat-card>