@mixin common-dropdown($width) {
    background-color: var(--primaryWhite) !important;
    border: 1px solid var(--border-color) !important;
    border-bottom: 0px !important;
    border-radius: 8px !important;
    width: $width;

    &--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
        border-bottom-color: var(--border-color) !important;
    }

    &--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-line-ripple::before {
        border-bottom-color: var(--border-color) !important;
    }
}

@mixin radio-btn-container() {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .mat-mdc-radio-group {
        display: flex;
        flex-direction: column;
        padding: 5px 0px;
        border-radius: 5px 5px 0px 0px;
        background-color: var(--mat-select-panel-background-color);
        border: 1px solid;

        .mdc-radio__inner-circle {
            border-color: var(--secondaryBlue) !important;
        }

        .mdc-radio__outer-circle {
            border-color: var(--secondaryBlue) !important;
        }

        .mdc-radio__background::before {
            background-color: var(--secondaryBlue) !important;
        }
    }
}

@mixin common-secondry-btn($margin-bottom: 0px) {
    background: #ffffff;
    color: black;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #D0D5DD;
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    min-height: 56px;
    transition: background-color 0.3s linear, border-radius 0.3s linear, padding 0.3s linear, width 0.3s linear;
    margin-bottom: $margin-bottom;
}

@mixin common-popup-design($width: 600px) {
    width: $width !important;
    border-radius: 10px !important;

    .mat-mdc-dialog-title {
        margin: unset !important;
        padding-bottom: 10px !important;
    }

    .mat-mdc-dialog-surface {
        border-radius: 10px !important;
        background: white !important;
        padding: 20px !important;
    }

    .common-field {
        width: 100% !important;

        .mdc-text-field {
            background-color: white;
            border: 1px solid;
            border-bottom: 0px;

            textarea {
                resize: none;
            }

            .mat-mdc-form-field-text-suffix {
                font-size: 20px;
            }
        }
    }
}