<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content" *ngIf="!showLoader">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>{{ 'HOME.HELLO' | translate }}</h5>
                    <p>{{'HOME.Homepage with overall statistics' | translate}}</p>
                </div>
                <div class="header-buttons d-flex justify-space-between align-center g-20">
                    <button class="primary-btn" (click)="openBeProviderDialog()">
                        <img src="../../../../assets/icons/plusIcon.png" />
                        {{'HOME.Be A Provider' | translate}}
                    </button>
                    <button class="primary-btn" (click)="openBeFollowerDialog()">
                        <img src="../../../../assets/icons/plusIcon.png" />
                        {{'HOME.Be A Follower'|translate}}
                    </button>
                </div>
            </div>
            <div class="stats d-flex justify-space-between align-center g-20" *ngIf="role['hasProvider'] || role['hasFollower']">
                <div class="stats-card" [ngClass]="{'justify-center': (providerMetric?.monthlyFeesArr.length === 0) || (followerMetric?.monthlyTradeArr.length === 0) }">
                    <h6>
                        <ng-container *ngIf="role['hasProvider'] && providerMetric?.monthlyFeesArr.length > 0">
                            {{'HOME.Monthly Fees' | translate}}
                        </ng-container>
                        <ng-container *ngIf="role['hasFollower'] && followerMetric?.monthlyTradeArr.length > 0">
                            {{'HOME.Monthly Trading' | translate}}
                        </ng-container>
                    </h6>
                    <ng-container *ngIf="role['hasProvider']">
                        <div class="d-flex justify-space-between">
                            @for (fees of providerMetric?.monthlyFeesArr; track fees.month) {
                                <div class="d-flex align-center justify-end flex-column">
                                    <h3>{{fees.feesValue}}</h3>
                                    <p>{{fees.month | date:'MMM'}}</p><!-- <p>{{'COMMON.September' | translate}}</p> -->
                                </div>
                            } @empty {
                                <h6>{{'HOME.NoTradingHistory' | translate}}</h6>
                            }
                        </div>
                    </ng-container>
                    <ng-container *ngIf="role['hasFollower']">
                        <div class="d-flex justify-space-between">
                            @for (fees of followerMetric?.monthlyTradeArr; track fees.month) {
                                <div class="d-flex align-center justify-end flex-column">
                                    <h3>{{fees.monthTradeProfit}}</h3>
                                    <p>{{fees.month | date:'MMM'}}</p><!-- <p>{{'COMMON.September' | translate}}</p> -->
                                </div>
                              } @empty {
                                <h6>{{'HOME.NoTradingHistory' | translate}}</h6>
                              }
                        </div>
                    </ng-container>
                </div>
                <div class="stats-card">
                    <h6>
                        <ng-container *ngIf="role['hasProvider']">
                            {{'HOME.Followers' | translate}}
                        </ng-container>
                        <ng-container *ngIf="role['hasFollower']">
                            {{'HOME.Trading profit' | translate}}
                        </ng-container>
                    </h6>
                    <h3 class="{{followerMetric?.tradeProfitClass}}">
                        <ng-container *ngIf="role['hasProvider']">
                            {{providerMetric?.followers}}
                        </ng-container>
                        <ng-container *ngIf="role['hasFollower']">
                            {{followerMetric?.tradeProfit}}
                        </ng-container>
                    </h3>
                    <p>
                        <ng-container *ngIf="role['hasProvider']">
                            {{'COMMON.Active' | translate}}
                        </ng-container>
                        <ng-container *ngIf="role['hasFollower']">
                            {{currentDate | date:'MMMM'}}<!-- <p>{{'COMMON.September' | translate}}</p> -->
                        </ng-container>
                    </p>
                </div>
                <div class="stats-card">
                    <h6>
                        <ng-container *ngIf="role['hasProvider']">
                            {{'HOME.Followers Growth' | translate}}
                        </ng-container>
                        <ng-container *ngIf="role['hasFollower']">
                            {{'HOME.Copied Position' | translate}}
                        </ng-container>
                    </h6>
                    <h3 [ngClass]="{'green-color': providerMetric?.followerGrowth > 0}">
                        <ng-container *ngIf="role['hasProvider']">
                            {{providerMetric?.followerGrowth}}
                        </ng-container>
                        <ng-container *ngIf="role['hasFollower']">
                            {{followerMetric?.copiedPos}}
                        </ng-container>
                    </h3>
                    <p>{{currentDate | date:'MMMM'}}</p> <!-- <p>{{'COMMON.September' | translate}}</p> -->
                </div>
                <div class="stats-card">
                    <h6>
                        <ng-container *ngIf="role['hasProvider']">
                            {{'HOME.Closed Profit (own)' | translate}}
                        </ng-container>
                        <ng-container *ngIf="role['hasFollower']">
                            {{'HOME.Paid Fees' | translate}}
                        </ng-container>
                    </h6>
                    <h3 class="{{providerMetric?.closedProfitClass}}">
                        <ng-container *ngIf="role['hasProvider']">
                            {{providerMetric?.closedProfit}}
                        </ng-container>
                        <ng-container *ngIf="role['hasFollower']">
                            {{followerMetric?.paidFees}}
                        </ng-container>
                    </h3>
                    <p>{{currentDate | date:'MMMM'}}</p> <!-- <p>{{'COMMON.September' | translate}}</p> -->
                </div>
            </div>

            <div class="metrics-table">
                <div class="header-title" [ngClass]="{'d-flex justify-space-between pb-20': !role['hasProvider'] && !role['hasFollower']}">
                    <ng-container *ngIf="role['hasProvider']">
                        <h5>{{'HOME.Provider Metrics' | translate}}</h5>
                        <p>{{'HOME.Metrics of individual providers' | translate}}</p>
                    </ng-container>
                    <ng-container *ngIf="role['hasFollower']">
                        <h5>{{'HOME.Follower Metrics' | translate}}</h5>
                        <p>{{'HOME.Metrics of individual Follower' | translate}}</p>
                    </ng-container>
                    <div *ngIf="!role['hasProvider'] && !role['hasFollower']">
                        <h5>{{'ACCOUNTS.Accounts' | translate}}</h5>
                        <p>{{'ACCOUNTS.AccountsAddFromMetaTrade' | translate}}</p>
                    </div>
                    <div class="d-flex g-20 common-dropdown" *ngIf="!role['hasProvider'] && !role['hasFollower']">
                          <mat-form-field>
                            <mat-label>{{'PROVIDERS_PROFILE.Scope' | translate}}</mat-label>
                            <mat-select [(ngModel)]="selectAccountStatus" (selectionChange)="refreshTradeAccountList()">
                              <mat-option [value]="'Active'">{{'COMMON.Active' | translate}}</mat-option>
                              <mat-option [value]="'All'">{{'COMMON.All' | translate}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        <button class="refresh-btn" (click)="refreshTradeAccountList()">
                            <img src="../../../../assets/icons/rotateIcon.svg"> 
                            Refresh 
                        </button>
                    </div>
                </div>
                <common-ag-grid [gridConfig]="gridConfig" [gridData]="gridData"
                [showGridLoader]="showGridLoader">
                </common-ag-grid>
            </div>
        </div>
    </mat-card-content>

    <div class="loader-container" *ngIf="showLoader" class="full-view-port-height d-flex justify-center align-center">
        <img src="../../../../assets/logo/ICM Logo Default 1.png" />
    </div>
</mat-card>
<show-error-message></show-error-message>

