<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content" *ngIf="!showPageLoader">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>{{"PROVIDERS_LIST.Providers"|translate}}</h5>
                    <p>{{"PROVIDERS_LIST.List of providers"|translate}}</p>
                </div>
                <div class="header-buttons">
                </div>
            </div>
            <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs="false" mat-align-tabs="start" class="providerProfile-tabGroup" preserveContent="true">
                <mat-tab *ngFor="let tab of tabFilterLabels;let indx = index" label="{{tab.label | translate}}">
                
                    <div class="providersList-header-buttons d-flex justify-right align-center pb-20">
                        <!-- <div class="d-flex justify-space-between g-10 align-center">
                            <div class="d-flex justify-space-between providerProfile-tabFilters g-10 align-center">
                                <h5 class="{{subFilter.active ? 'active' : ''}}" *ngFor="let subFilter of subFilterLabels">{{subFilter.label|translate}} </h5>
                            </div>
                            <div class="d-flex justify-center g-10 align-center">
                                
                            </div>
                        </div> -->
                        <div class="d-flex g-20">
                            <form [formGroup]="mySearchForm">
                                <mat-form-field class="search-provider-field" appearance="outline">
                                    <mat-label>{{"PROVIDERS_LIST.Search"|translate}}</mat-label>
                                    <input type="text" formControlName="providerObj" matInput [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="goToProviderRatingProfilePage()">
                                        @for (option of filteredOptions | async; track option) {
                                        <mat-option [value]="option">{{option.accountName}}</mat-option>
                                        }
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>
                            <button class="secondary-btn switchMode-btn" [ngClass]="viewMode =='cards' ? 'secondary-btn-active':''" (click)="switchMode('cards', true)">
                                <img src="../../../../assets/icons/gridIcon.svg" />
                            </button>
                            <button class="secondary-btn switchMode-btn" [ngClass]="viewMode =='table' ? 'secondary-btn-active':''" (click)="switchMode('table', true)">
                                <img src="../../../../assets/icons/listIcon.svg" />
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                {{"PROVIDERS_LIST.More Filters"|translate}}
                            </button>
                        </div>
                    </div>
                    @if(indx == selectedTabIndex) {
                    <div class="providersList-section">
                        @if(!this.showRatingLoader) {
                        <div class="providersList-cards" *ngIf="viewMode == 'cards'">
                            <mat-card *ngFor="let rating of ratingsData" appearance="outlined" class="providersList-card">
                                <mat-card-content>
                                    <div class="header d-flex align-center justify-space-between">
                                        <div class="title d-flex align-start g-10">
                                            <a routerLink="/portal/ratings/{{rating.accountId}}">
                                                <img class="provider-icon" [src]="rating.avatarPath" height="40" width="40" />
                                                <div class="text">
                                                    <p class="heading">{{rating.accountName}}</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="info d-flex align-center justify-space-between g-10">
                                            <img width="30" height="30" [src]="rating.countryFlagUrl" />
                                            <a href="javascript:void(0)" [ngClass]="{'btn-disable': disableWatchListBtn}">
                                                <img #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" *ngIf="rating.isWatchListed"
                                                 (click)="openWatchListWarnMenu(menuTrigger)" width="20" height="20" 
                                                [src]="rating.isWatchListed ? '../../../../assets/icons/selected-saveIcon.png' : '../../../../assets/icons/saveIcon.png'" />

                                                <img *ngIf="!rating.isWatchListed"
                                                 (click)="toggleWatchList(rating)" width="20" height="20" 
                                                [src]="rating.isWatchListed ? '../../../../assets/icons/selected-saveIcon.png' : '../../../../assets/icons/saveIcon.png'" />
                                            </a>
                                            <mat-menu #menu="matMenu" class="watchlist-warn-menu">
                                                <p class="pb-20">
                                                    Please note: removing account from watchlist will reset its watch statistic. Please confirm removing {{rating.accountName}} from watchlist.
                                                </p>
                                                <div class="d-flex justify-space-between">
                                                  <button mat-button class="secondary-btn">Cancel</button>
                                                  <button mat-button color="warn" class="primary-btn" (click)="toggleWatchList(rating)">Confirm</button>
                                                </div>
                                              </mat-menu>
                                        </div>
                                    </div>
                                    <div class="main">
                                        <div class="main-head pb-20 d-flex justify-space-between align-center">
                                            <p class="title">Return 1M</p>
                                            <p class="{{rating.returnMonth >= 0 ? 'green-value' : 'red-value' }} d-flex align-center">
                                                @if(rating.returnMonth >= 0) {
                                                    <img width="20" height="20" src="../../../../assets/icons/arrow-up.png" /> {{rating.returnMonth ? rating.returnMonth : 0}}%
                                                } @else {
                                                    <img width="20" height="20" src="../../../../assets/icons/arrow-down.png" /> {{rating.returnMonth ? rating.returnMonth : 0}}%
                                                }
                                                
                                            </p>
                                        </div>
                                        <div id="chart" *ngIf="cardChartOptions" class="d-flex justify-center align-center">
                                            <apx-chart [series]="[{ name: '', data: rating.historyGraph.value }]" 
                                                [chart]="cardChartOptions.chart" [stroke]="cardChartOptions.stroke"
                                                [xaxis]="{labels: {show: false}, axisTicks: {show: false},axisBorder: {show: false},categories: rating.historyGraph.valueInPercent }" 
                                                [tooltip]="cardChartOptions.tooltip"
                                                [yaxis]="cardChartOptions.yaxis" [grid]="cardChartOptions.grid"
                                                [dataLabels]="cardChartOptions.dataLabels" [fill]="cardChartOptions.fill"
                                                [colors]="cardChartOptions.colors" [labels]="cardChartOptions.labels"
                                                [responsive]="cardChartOptions.responsive" [legend]="cardChartOptions.legend"></apx-chart>
                                        </div>
                                        <div class="main-content d-flex align-center flex-wrap justify-space-between g-20">
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Fee"|translate}}</p>
                                                <p class="subtitle">{{(rating?.extension?.performanceFee || rating?.extension?.performanceFee == 0)  ? rating?.extension?.performanceFee + '%' : '-'}}</p>
                                            </div>
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Win Ratio"|translate}}</p>
                                                <p class="subtitle">{{(rating?.winRatio || rating?.winRatio == 0)  ? rating?.winRatio + '%' : '-'}}</p>
                                            </div>
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Drawdown"|translate}}</p>
                                                <p class="subtitle">{{(rating?.maxDrawdown || rating?.maxDrawdown == 0) ? rating?.maxDrawdown + '%' : '-'}}</p>
                                            </div>
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Investors"|translate}}</p>
                                                <p class="subtitle">{{(rating?.extension?.investors || rating?.extension?.investors == 0) ? rating?.extension?.investors : '-'}}</p>
                                            </div>
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Invested"|translate}}</p>
                                                <p class="subtitle">{{(rating?.extension?.investorsEquity || rating?.extension?.investorsEquity == 0)  ? (rating?.extension?.investorsEquity | currency: rating?.account?.currency:'symbol') : '-'}}</p>
                                            </div>
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Own Funds"|translate}}</p>
                                                <p class="subtitle">{{(rating?.account?.balance || rating?.account?.balance == 0) ? (rating?.account?.balance | currency: rating?.account?.currency:'symbol') : '-'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="content d-flex justify-right align-center">
                                            <button class="edit-btn content-btn" (click)="openCopyTradePopup(rating)">
                                                {{"PROVIDERS_LIST.Copy"|translate}}
                                            </button>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="providersList-table" *ngIf="viewMode == 'table'">
                            <common-ag-grid [gridConfig]="ratingsGridConfig" [gridData]="ratingsData"
                                [showGridLoader]="showRatingsGridLoader">
                            </common-ag-grid>
                        </div>
                        } @else {
                        <div class="loader-container" class="half-view-port-height d-flex justify-center align-center">
                            <img src="../../../../assets/logo/ICM Logo Default 1.png" />
                        </div>
                        }
                    </div>
                    }
                </mat-tab>
            </mat-tab-group>
            
        </div>
    </mat-card-content>
    <div class="loader-container" *ngIf="showPageLoader" class="full-view-port-height d-flex justify-center align-center">
        <img src="../../../../assets/logo/ICM Logo Default 1.png" />
    </div>
    <div #observer>
        <div class="loader-container" *ngIf="showMoreDataLoader" class="d-flex justify-center align-center pb-20">
            <img src="../../../../assets/icons/ajax-loader-large.gif" />
        </div>
    </div>
</mat-card>
<show-error-message></show-error-message>